# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints
*.ipynb

# IDE
.vscode/
.idea/

# Data / outputs
output/
CORPCODE.xml

# Secrets
*.key
credentials.json
secrets.json
